
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Index</title>
</head>
<body>
    <div> 
        This is the app.
    </div>
    <div>
        <button onclick="javascript:window.location.href='@Url.Action("Logout")'">Log out</button>
    </div>
</body>
</html>
