
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Login</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("LoginComplete", "Home", FormMethod.Post, new { id = "confirm-form" }))
        {
            <input type="submit" value="Log in" />
        }        
    </div>
    <div id="cookie-placeholder"></div>    
    <script type="text/javascript">
        document.getElementById('cookie-placeholder').innerHTML = 'Cookies: ' + document.cookie;
    </script>
</body>
</html>
